/* Variables */
:root {
  /* Fonts */
  --primary-font: "Roboto";
  --logo-font: "Raleway";

  /* Navy blue */
  --brand-color: #2e2f42;

  /* Slate */
  --secondary-color: #434455;

  /* Ocean */
  --action-color: #404bbf;

  /* Iris */
  --logo-color: #4d5ae5;

  /* Cloud */
  --logo-second-color: #f4f4fd;

  /* Accent */
  --accent-color: #e7e9fc;

  /* White */
  --white-color: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--secondary-color);
  background-color: var(--white-color);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-bottom: 120px;
}

/* Header */

.header-section {
  border-bottom: 1px solid var(--accent-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
  margin-right: 76px;
}

.logo-part {
  color: var(--brand-color);
  font-family: Raleway;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.address-list {
  display: flex;
  gap: 40px;
}

/* Navigation */
.link {
  text-decoration: none;
}
.nav-list {
  color: var(--brand-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
}

.nav-list-item {
  color: var(--brand-color);
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list-item:hover,
.nav-list-item:focus {
  color: var(--action-color);
}

.current-page {
  color: var(--action-color);
  position: relative;
}

.current-page::after {
  width: 100%;
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: var(--action-color);
  border-radius: 2px;
  transition: border-radius 2px;
}

/* Address */
.address {
  font-style: normal;
  margin-left: auto;
}
.address-list {
  color: var(--secondary-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
}

.address-list-item {
  color: var(--secondary-color);
  font-style: initial;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-list-item:hover,
.address-list-item:focus {
  color: var(--action-color);
}

/* Main info */
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* Hero */
.hero {
  max-width: 1440px;
  margin: 0 auto;
  background: var(--brand-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/hero_bg.jpg);
  text-align: center;
  padding: 188px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
  color: var(--white-color);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.07;
}
.hero-btn {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  background: var(--logo-color);
  letter-spacing: 0.04em;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn-text {
  color: var(--white-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  padding: 16px 32px;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--action-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--action-color);
  border: none;
  fill: var(--white-color);
}

.icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  display: block;
  width: 360px;
  color: var(--brand-color);
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.modal-form {
}

.modal-form-input-wrapper {
  margin-bottom: 8px;
}

.modal-form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-form-field {
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;

  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding: 8px 16px;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  border-color: var(--logo-color);
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: var(--brand-color);
  pointer-events: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-input-icon {
  fill: var(--logo-color);
}

.modal-form-comment-wrapper {
  margin-bottom: 16px;
}

.modal-form-comment {
  width: 100%;
  height: 120px;
  display: block;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  background-color: transparent;
  resize: none;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-form-comment:focus {
  border-color: var(--logo-color);
}

.modal-form-agreement-wrapper {
  margin-bottom: 24px;
}
.modal-form-agreement-input {
}

.modal-form-agreement {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-agreement-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border-width: 1px;
  fill: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-checkbox-icon {
}
.modal-form-link {
  color: var(--logo-color);
}

.modal-form-agreement-input:checked
  + .modal-form-agreement
  > .modal-agreement-checkbox {
  background-color: var(--action-color);
  border: none;
  fill: var(--logo-second-color);
}

.modal-send-btn {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  border-radius: 4px;
  border: none;
  background: var(--logo-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--white-color);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-send-btn:hover,
.modal-send-btn:focus {
  background-color: var(--action-color);
}

/* Company standarts*/

.section-standatrs {
  padding-top: 120px;
  padding-bottom: 120px;
}

.standarts-list {
  display: flex;
  gap: 24px;
}

.standarts-item {
  width: calc((100% - 72px) / 4);
  flex-grow: 0;
}

.standarts-item-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--logo-second-color);
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
  border-radius: 4px;
}
.standarts-item-icon {
}

.header-two {
  margin-bottom: 72px;
  color: var(--brand-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-three {
  margin-bottom: 8px;
  color: var(--brand-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

/* Company skills */

.list-skills {
  display: flex;
  gap: 24px;
}
.list-skills-item {
}

/* Team-section */
.team-list-item {
  background-color: var(--white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.header-three-desc {
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.pic-desc {
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-content {
  padding: 32px 0;
  background-color: var(--white-color);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

.team-section {
  padding-top: 120px;
  background-color: var(--logo-second-color);
}

.team-social-list-item {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.socials-list-link {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 12px;
  width: 40px;
  height: 40px;
  background: var(--logo-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-list-link:hover,
.socials-list-link:focus {
  background-color: var(--action-color);
}

.icon-social {
  fill: var(--logo-second-color);
}

.name {
  color: var(--brand-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-list {
  display: flex;
  gap: 24px;
}

/* Customers */
.customers {
  padding: 120px 0;
}

.customers-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.customers-list-item {
  display: flex;
  width: calc((100% - 120px) / 6);
  height: 88px;
}
.customers-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  color: #8e8f99;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-list-item .customers-icon {
  fill: currentColor;
}

.customers-list .customers-link:is(:hover, :focus) {
  border-color: var(--action-color);
  color: var(--action-color);
}

/* Filter */
.filter-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.filter-item {
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  background: var(--logo-second-color);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--logo-color);
  padding: 12px 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-item:hover,
.filter-item:focus {
  background: var(--action-color);
  color: var(--white-color);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Gallery */
.gallery {
  padding-top: 96px;
  padding-bottom: 120px;
}

.gallery-content {
  padding: 32px 16px;
  border: 1px solid var(--accent-color);
  border-top: none;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 24px;
  row-gap: 48px;
}
.gallery-item {
  width: calc((100% - 48px) / 3);
  height: calc((100% - 24px) / 3);
}

.gallery-item-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-item-link:is(:hover, :focus) {
  border-radius: 0px 0px 4px 4px;
  background: var(--white-color);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.gallery-item-link:hover .gallery-item-text,
.gallery-item-link:focus .gallery-item-text {
  transform: translateY(0%);
}

.gallery-item-wrapper {
  position: relative;
  overflow: hidden;
}

.gallery-item-text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--logo-second-color);
  padding: 40px 32px;
  background-color: var(--logo-color);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Footer */
.footer {
  background-color: var(--brand-color);
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-desc-wrapper {
  margin-right: 120px;
}

.logo-footer {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
  margin-bottom: 16px;
  display: inline-block;
}

.logo-second-part-footer {
  color: var(--logo-second-color);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.footer-text {
  color: var(--logo-second-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}

.footer-subtitle {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-color);
}

.footer-social {
  margin-right: 80px;
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-list-item {
  display: flex;
  width: 40px;
  height: 40px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  background-color: var(--logo-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:focus,
.footer-social-link:hover {
  background-color: #31d0aa;
  border-radius: 50%;
}

.footer-icon-social {
  width: 24px;
  height: 24px;
  fill: var(--logo-second-color);
}

.footer-form-container {
  display: block;
}
.footer-form-subtitle {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-color);
  font-weight: 500;
  margin-bottom: 16px;
}

.footer-form-label {
  display: flex;
}

.footer-form {
  display: flex;
  gap: 24px;
}
.footer-form-input {
  width: 264px;
  height: 40px;
  padding-left: 16px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid var(--white-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  outline: transparent;

  color: var(--white-color);
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form-input::placeholder {
  color: var(--white-color);
}
.footer-form-input:hover,
.footer-form-input:focus {
  border: 1px solid var(--logo-color);
}
.footer-form-btn {
  display: inline-flex;
  min-width: 165px;
  gap: 16px;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: var(--logo-color);
  border: none;
  cursor: pointer;

  color: var(--white-color);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-btn-icon {
  display: block;
  max-width: 100%;
  height: auto;
  fill: currentColor;
}
.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: var(--action-color);
}
